@{
    ViewData["Title"] = "Home Page";
}
@model List<BlogPost>

<h1>Willkommen auf unserem Blog</h1>

<div class="accordion" id="accordionExample">
    @foreach (BlogPost bp in @Model)
    {
        if (bp.Id == 1)
        {
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-@bp.Id" aria-expanded="true" aria-controls="collapse-@bp.Id">
                        <span>@bp.Title</span><span>by @bp.Author<img src="@(@bp.Author + ".svg")" width="25" height="25"></span>

                    </button>
                </h2>
                <div id="collapse-@bp.Id" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body" style="background-color: #b2daed">
                        <a asp-action="Details" asp-route-id="@bp.Id">
                            <img src="link.svg" width="25" height="25"/>
                        </a>@bp.Content                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-@bp.Id" aria-expanded="false" aria-controls="collapse-@bp.Id">
                        <span>@bp.Title</span><span>by @bp.Author<img src="@(@bp.Author + ".svg")" width="25" height="25"></span>
                    </button>
                </h2>
                <div id="collapse-@bp.Id" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
                     style="background-color: #b2daed">
                    <div class="accordion-body">
                        <a asp-action="Details" asp-route-id="@bp.Id">
                            <img src="link.svg" width="25" height="25"/>
                        </a>@bp.Content
                    </div>
                </div>
            </div>
        }
    }
</div>

